:root {
    --color-marca-vickfaby: #1aa0ab;
    --color-cards-lines: #126979;
    --color-font-blue: #20dbd8;
    --color-font-yellow: #FFE603;

    --color-background: #12222c;
    --color-background-cards:#12414d;
    --color-background-primary-button-inactive: #9F9935;
    --color-background-secondary-button:#27363F;
    --color-background-tertiary-button:#27363F;
    --color-background-login-inputs:#27363F;

    --font-logo: 'Major Mono Display', monospace;
    --font-general: 'Century Gothic', sans-serif;
}

