
.LoginBox{
    font-family: var(--font-general);
    color: var(--color-font-blue);
    font-size: 2rem;
    margin: 0;
    width: min-content;
}

div.LoginBox p:nth-last-child(1) { //selecciona cada <p> que sea el primer <p> de su padre, contando desde el ultimo hijo
    color: var(--color-cards-lines);
    margin: 0;
}

 p {
    text-align: center;
}

.inputsContainer {
    // margin-top: 3rem;
}
.inputsContainer  > p{
    color: white;
    text-align: left;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.inputLogin {
    //margin: 2rem 0 2rem 0;
    border: 1px solid var(--color-cards-lines);
    border-radius: 0.5rem
}

.inputLogin > input {
    background: var(--color-background-login-inputs);
    border: 1px solid var(--color-cards-lines);
    border-radius: 0.5rem;
    height: 3rem;
    width: 60vw;
}
.inputLogin > input::placeholder {
    color: var(--color-cards-lines);
}
