@import 'vars';

@font-face {
    font-family: 'Century Gothic';
    src: url('../../fonts/CenturyGothic/CenturyGothic.ttf') format('truetype');
}
.MarcaVickFaby{
    color: var(--color-letras-amarillas);
    font-family: var(--fuente-general);
    width: 10rem;
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    left: calc(50vw - 5rem);
    bottom: 4rem;
}