@import 'vars';

.PokemonCard {
  background: var(--color-background);
  width: 100vw;
  max-width: 64rem;
  min-width: 375px;
  position: relative;
  border-right: 1px solid var(--color-cards-lines);
  border-left: 1px solid var(--color-cards-lines);
  border-bottom: 1px solid var(--color-cards-lines);
  margin: 0 auto;
  // transition: width 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.pokemoncard__circlebackground {
  width: 100%;
  max-width: 64rem;
  height: 40rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 60vw;
  /* margin: 10rem; */
  border-left: 1px solid var(--color-cards-lines);
  border-bottom: 1px solid var(--color-cards-lines);
  position: absolute;
  background: var(--color-background-circle);
  z-index: 0;
}

.titlePokemonCard {
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titlePokemonCard > span {
  font-size: 3rem;
  margin: 0;
  z-index: 1;
}
.titlePokemonCard > h1 {
  color: var(--color-font-yellow);
  font-size: 4rem;
  font-weight: 100;
  text-transform: uppercase;
  z-index: 1;
}

.pokemonInfo {
  //padding-left: 1rem;
}
.pokemonInfo > p:nth-child(3) {
  margin-top: 1rem;
  margin-left: 1rem;
  position: relative;
  z-index: 1;
  font-size: 1.6rem;
}
.pokemonInfo > p {
  font-size: 1.4rem;
  font-weight: 100;
  text-align: left;
  margin-bottom: 1rem;
  margin-left: 1rem;
  color: var(--color-font-blue);
  position: relative;
  z-index: 1;
}
.pokemonDataContainer {
  font-size: 1.6rem;
  font-weight: 100;
  color: var(--color-font-blue);
  text-align-last: start;
  margin-left: 1rem;
}
.pokemonDataContainer > p {
  text-align: left;
  position: relative;
}
.pokemonData-1 > p {
  z-index: 1;
}
.pokemonData-2 > p {
  z-index: 1;
}

.pokemonData-1 {
  margin-top: 1rem;
  display: flex;
}
.pokemonData-1 > p:first-child {
  margin-right: 1rem;
}
.pokemonData-2 {
  margin-top: 1rem;
  display: flex;
}
.pokemonData-2 > p:first-child {
  margin-right: 1rem;
}

.imgContainer {
  text-align: center;
  //padding-right: 2rem;
}
.imgContainer img:first-child {
  position: relative;
  width: 80%;
  //margin-top: -6rem;
  z-index: 1;
  animation: pokemon-central  1s linear infinite alternate;
}
.pokemoncard__evolucion {
  margin-top: 2rem;
  position: sticky;
  z-index: 1;
}
.pokemoncard__evolucion > p {
  color: var(--color-font-blue);
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.pokemoncard__evolucion--itemcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 16rem;
  justify-content: space-around;
  justify-items: center;
  padding-top: 1rem;
}
@keyframes pokemon-central{
  0% {
    scale: 1;
    transform: translateY(0.2rem);
  }
  100% {
    scale: 1.05;
    translate: (4,4);
    transform: translateY(-0.2rem);
  }
}
.fade-enter{
  opacity: 0;
}
.fade-exit{
  opacity: 1;
}
.fade-enter-active{
  opacity: 1;
}
.fade-exit-active{
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active{
  transition: opacity 500ms;
}