@import 'vars';

.PokemonItem {
  //border: 1px solid var(--color-cards-lines);
  width: 6rem;
  height: 10rem;
}
.PokemonItem-image {
  border-bottom: 1px solid var(--color-cards-lines);
}
.PokemonItem-image img:first-child {
  width: 6rem;
  height: 8rem;
  object-fit: contain;
}

.PokemonItem > p {
  color: var(--color-font-blue);
}

.LoadingSqueletonCirlce {
  width: 6rem;
  height: 6rem;
  border-radius: 3.5rem;
  margin: 1rem auto;
  background: var(--color-background-circle);
  border: 1px solid var(--color-cards-lines);

 animation: skeleton-loading 0.8s linear infinite alternate;
}

.LoadingSqueletonBar {
  width: 6rem;
  height: 3vw;
  border-radius: 0rem;
  margin: 0.5rem auto;
  background: var(--color-background-circle);
  border: 1px solid var(--color-cards-lines);

  animation: skeleton-loading 0.8s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--color-background-circle);
  }
  100% {
    background-color: var(--color-background);
  }
}
