@import 'vars';

.pokemons{
    margin-top: 0.5rem;
    border-top: 1px solid var(--color-cards-lines);
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 12rem));
    grid-auto-rows: auto;
    justify-items: center;
    justify-content: space-evenly;
    grid-row-gap: 1rem;
    height: calc(100% - 24px - 1rem);
    overflow: scroll;
    padding-bottom: 15rem;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.pokemons::-webkit-scrollbar { 
    display: none; /* Safari and Chrome */
  }
.PokemonContainer{
    height: calc( 100vh - 13rem);
}
.PokemonContainer > h1 {
    color: var(--color-font-blue);
    margin-left: 1rem;
}