@import 'vars';

.PokemonItem {
  border: 1px solid var(--color-cards-lines);
  border-radius: 0.1rem;
  width: 11rem;
  height: 15rem;
  display: grid;
}
.PokemonItem-image {
  border-bottom: 1px solid var(--color-cards-lines);
}
.PokemonItem-image img:first-child {
  //width: 6rem;
  height: 10rem;
  object-fit: contain;
  margin: 0 auto;
  animation: pokemon-breathing 0.8s linear infinite alternate;
}

.PokemonItem > p {
  color: var(--color-font-blue);
  font-size: 1.4rem;
  margin: 0.5rem;
}

.LoadingSqueletonCirlce {
  width: 6rem;
  height: 6rem;
  border-radius: 3.5rem;
  margin: 1rem auto;
  background: var(--color-background-circle);
  border: 1px solid var(--color-cards-lines);

 animation: skeleton-loading 1s linear infinite alternate;
}

.LoadingSqueletonBar {
  width: 8rem;
  height: 1rem;
  border-radius: 0rem;
  margin: auto auto;
  background: var(--color-background-circle);
  border: 1px solid var(--color-cards-lines);

  animation: skeleton-loading 0.8s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--color-background-circle);
  }
  100% {
    background-color: var(--color-background);
  }
}

@keyframes pokemon-breathing {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.04;
  }
}