@import 'vars';

.title{
    display: flex;
    height: 3rem;
    width: 100vw;
  }
  
  .title> p {
    font-family: var(--font-logo);
    color: var(--color-font-yellow);
    font-size: 3rem;
    margin: 0.3rem 0.5rem 0 1rem;
  }
  

